h1 {
  color: #000080;
  font-size: 200%;
  font-family: Arial, Verdana, sans-serif;
  text-align: center;
}
p {
  padding-left: 20px;
}
b {
  font-weight: bold;
  color: #59bf39;
}
  h3 {
  font-size: 36px;
  font-family: Times, serif;
  color: red;
}